<a href="https://colab.research.google.com/github/anavianascientist/Pit-o/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [27]:
from google.colab import files
uploaded = files.upload()

Saving source_file_2.json to source_file_2 (1).json

In [29]:
import io
dataset = pd.read_json(io.BytesIO(uploaded['source_file_2.json']))

In [30]:
df = pd.read_json('source_file_2.json')

df.head()

                           name  ... priority
0          [CV] [Qt] OpenCV GUI  ...      850
1                 [Web] pm-site  ...      260
2                   Annotations  ...       10
3  [OCR] tesseract MRZ reading   ...      560
4                    Deepgammon  ...      150

[5 rows x 4 columns]

In [41]:
df.loc[df['managers']=="merlin"]

Empty DataFrame
Columns: [name, managers, watchers, priority]
Index: []

In [33]:

dfwatcher= df[['name','watchers','priority']]


dfwatcher.head()

                           name                      watchers  priority
0          [CV] [Qt] OpenCV GUI              [merlin, morris]       850
1                 [Web] pm-site  [csaftoiu, jpfarias, morris]       260
2                   Annotations    [csaftoiu, merlin, victor]        10
3  [OCR] tesseract MRZ reading               [arturc, merlin]       560
4                    Deepgammon              [merlin, victor]       150

In [34]:
dfmanager= df[['name','managers','priority']]


dfmanager.head()

                           name            managers  priority
0          [CV] [Qt] OpenCV GUI  [csaftoiu, merlin]       850
1                 [Web] pm-site            [merlin]       260
2                   Annotations            [luanda]        10
3  [OCR] tesseract MRZ reading           [csaftoiu]       560
4                    Deepgammon            [morris]       150

In [55]:
dfmanager

                                         name            managers  priority
0                        [CV] [Qt] OpenCV GUI  [csaftoiu, merlin]       850
1                               [Web] pm-site            [merlin]       260
2                                 Annotations            [luanda]        10
3                [OCR] tesseract MRZ reading           [csaftoiu]       560
4                                  Deepgammon            [morris]       150
5                       python training lucas            [merlin]      2160
6                     python training alysson            [merlin]      2180
7        unity render different passport text          [csaftoiu]      2230
8       [template] unity render passport text          [csaftoiu]      2235
9       unity render diff passport text artur  [arturc, csaftoiu]       815
10  unity render diff passport text - kennedy            [merlin]      2260
11      Unity Render Passport Text [Template]            [merlin]      2265
12              mateus silva bg deep checkers        [victor-mgr]      2295
13                  Android Camera App rrocha        [victor-mgr]      2300
14                    bg deep learning aporto        [victor-mgr]      2305
15                 bg deep checkers rvalentim        [victor-mgr]      2310
16                       tourney site famador        [victor-mgr]      2320
17                chess board finder eliaquim            [merlin]      2330
18                         tourney site ariel        [victor-mgr]      2340
19                     tourney site tbarbalho        [victor-mgr]      2345
20                [CHESS] Live Demo Executive            [merlin]       750
21                         [EXECUTIVE] Merlin            [merlin]        20
22                  [INHOUSE-TOOLS] NN-Webapp            [merlin]       755
23             [INHOUSE-TOOLS] Annotators app            [merlin]       760
24               [IOS-APPS] IOS streaming app            [merlin]      2375
25                      [IOS-APPS] IOS PI app            [merlin]      2380
26                       [HR] Candidate tests            [merlin]      2385
27                           [CHATBOT] merlin            [merlin]      2390
28       [ID-VERIFY-PIPELINE] finger detector            [merlin]       735
29  [ID-VERIFY-PIPELINE] Background evaluator            [merlin]      2395
30       [ID-VERIFY-PIPELINE] Passport finder            [merlin]      2400
31                          [CHATBOT] rodrigo            [merlin]      2405
32                    [BG-CLUB-SITE] frontend     [ariel, merlin]      2435
33                   morris bg data gathering            [victor]       130
34               sportsparsers - pinnacle API          [csaftoiu]       340
35                [INHOUSE-TOOLS] NN-Webapp 2            [merlin]      2520
36                 sportsparsers - tipster.de            [morris]       295
37                  sportsparsers - matchbook            [morris]       395
38                  matchbook parser - mfilho  [csaftoiu, morris]      2575
39                     sportsparsers - gg.bet            [morris]       310
40                     sportsparsers - betway            [morris]       300
41                         Runningball Parser            [morris]       155
42                     sportsparsers - unikrn            [morris]       145
43                     sportsparsers - unibet            [morris]       250
44            sportsparsers - esportscalendar            [morris]        55
45                      sportsparsers - 22bet            [morris]        45

In [49]:
dfmanager['managers']

0     [csaftoiu, merlin]
1               [merlin]
2               [luanda]
3             [csaftoiu]
4               [morris]
5               [merlin]
6               [merlin]
7             [csaftoiu]
8             [csaftoiu]
9     [arturc, csaftoiu]
10              [merlin]
11              [merlin]
12          [victor-mgr]
13          [victor-mgr]
14          [victor-mgr]
15          [victor-mgr]
16          [victor-mgr]
17              [merlin]
18          [victor-mgr]
19          [victor-mgr]
20              [merlin]
21              [merlin]
22              [merlin]
23              [merlin]
24              [merlin]
25              [merlin]
26              [merlin]
27              [merlin]
28              [merlin]
29              [merlin]
30              [merlin]
31              [merlin]
32       [ariel, merlin]
33              [victor]
34            [csaftoiu]
35              [merlin]
36              [morris]
37              [morris]
38    [csaftoiu, morris]
39              [morris]
40              [morris]
41              [morris]
42              [morris]
43              [morris]
44              [morris]
45              [morris]
Name: managers, dtype: object

In [52]:
dfmanager.loc[dfmanager['managers'] ==]

merlinmerlin

Empty DataFrame
Columns: [name, managers, priority]
Index: []